<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <components>
      <component name="OracleDal" type="DITest.OracleDal, DITest" service="DITest.IDataAccess, DITest"/>
      <component name="SqlServerDal" type="DITest.SqlServerDal, DITest" service="DITest.IDataAccess, DITest"/>
    </components>
    <!--<installers>
      <install type="WindsorInstaller.CustomerInstaller,WindsorInstaller"/>
      <install type="WindsorInstaller.SecondInstaller,WindsorInstaller"/>

      -->
    <!--查找该程序集下所有IWindsorInstaller接口的类型进行注册-->
    <!--
      -->
    <!--<install assembly="WindsorInstaller"></install>-->
    <!--

      -->
    <!--查找dll文件-->
    <!--
      -->
    <!--<install directory="Extensions" fileMask="*.dll"></install>-->
    <!--
    </installers>-->
  </castle>
</configuration>