<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
      <component name="OracleDal" type="DITest.OracleDal, DITest" service="DITest.IDataAccess, DITest"/>
      <component name="SqlServerDal" type="DITest.SqlServerDal, DITest" service="DITest.IDataAccess, DITest"/>
    </components>
</configuration>